<div class="bg-white dark:bg-black p-9 md:pt-24 md:flex md:min-h-screen">
    <div class="w-10 mb-14 md:grow md:flex md:items-center md:justify-center">
        <app-logo class="md:w-1/2 h-min"/>
    </div>
    <div class="w-full md:w-[500px] lg:w-[700px]">
        <span class="text-black-font dark:text-white-font font-chirp font-bolder text-4xl sm:text-6xl ">
            Acontecendo agora
        </span>
        <div class="w-full sm:w-80 pt-8 sm:pt-16">
            <h1 class="text-black-font dark:text-white-font font-chirp text-2xl sm:text-3xl sm:mb-6">Inscreva-se hoje</h1>
            <app-white-button [text]="'Entrar com Google'"/>
            <div class="mb-2 flex justify-center items-center">
                <div class="h-px bg-xlight-gray-font dark:bg-xdark-gray-font w-full"></div>
                <p class="text-black-font dark:text-white-font ml-2 mr-2">ou</p>
                <div class="h-px bg-xlight-gray-font dark:bg-xdark-gray-font w-full"></div>
            </div>
            <app-blue-button [text]="'Criar conta'"/>
            <p class="text-dark-gray-font dark:text-light-gray-font mb-10 text-xs">
                Ao se inscrever, você concorda com os <a class="text-xblue cursor-pointer hover:underline">Termos de Serviço</a>
                 e a <a class="text-xblue cursor-pointer hover:underline">Política de Privacidade</a>,
                  incluindo o <a class="text-xblue cursor-pointer hover:underline">Uso de Cookies</a>.
            </p>
            <p class="font-chirp font-bold text-lg mb-0">Já tem uma conta?</p>
            <app-transparent-button [text]="'Entrar'"/>
        </div>
        
    </div>
</div>
<footer>

</footer>