<div class="p-9 md:pt-28 md:flex md:min-h-screen">
    <div class="w-10 mb-14 md:grow md:flex md:content-center md:justify-center">
        <img class="md:w-1/2" src="assets/images/x-logo.svg" alt="">
    </div>
    <div class="w-full md:w-[500px] lg:w-[700px]">
        <span class=" font-chirp font-bolder text-4xl sm:text-6xl ">Acontecendo agora</span>
        <div class="w-full sm:w-80 pt-8 sm:pt-16">
            <h1 class="font-chirp text-2xl sm:text-3xl sm:mb-6">Inscreva-se hoje</h1>
            <button type="button" class="mt-4 w-full text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 ">
                Entrar com Google
            </button>
            <div class="mb-2 flex justify-center items-center">
                <div class="h-px bg-gray-100 w-full"></div>
                <p class="ml-2 mr-2">ou</p>
                <div class="h-px bg-gray-100 w-full"></div>
            </div>
            <button type="button" class="w-full text-white bg-blue-500 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                Criar conta
            </button>
            <p class="mb-10 text-xs text-gray-400">
                Ao se inscrever, você concorda com os <a class="text-blue-500 cursor-pointer hover:underline">Termos de Serviço</a>
                 e a <a class="text-blue-500 cursor-pointer hover:underline">Política de Privacidade</a>,
                  incluindo o <a class="text-blue-500 cursor-pointer hover:underline">Uso de Cookies</a>.
            </p>
            <p class="font-chirp font-bold text-lg mb-0">Já tem uma conta?</p>
            <button type="button" class="mt-4 w-full text-blue-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2">
                Entrar
            </button>
        </div>
        
    </div>
</div>
<footer>

</footer>