<div class="w-full min-h-screen flex">
    <div class="grow"></div>
    <div class="w-[750px] h-full flex flex-col ">
        <span class="mb-10 mt-20 text-7xl font-sans font-bold">Acontecendo agora</span>
        <div class="w-80">
            <h1 class="text-4xl font-sans font-bold mb-8">Inscreva-se hoje</h1>
            <button type="button" class="w-full py-2.5 px-5 me-2 mb-2 text-base font-bold text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">
                Entrar com Google
            </button>
            <div class="flex w-full items-center mb-2">
                <div class="w-full h-px bg-gray-100"></div>
                <p class="mr-2 ml-2">ou</p>
                <div class="w-full h-px bg-gray-100"></div>
            </div>
            <button type="button" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-bold rounded-full text-base px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Criar conta
            </button>
            <p class="text-xs mb-10">Ao se inscrever, você concorda com os <a class="text-blue-700 hover:underline">Termos de Serviço</a> e a <a class="text-blue-700 hover:underline">Política de Privacidade</a>, incluindo o <a class="text-blue-700 hover:underline">Uso de Cookies</a>.</p>
            <p class="font-sans font-bold text-lg mb-4">Já tem uma conta?</p>
            <button type="button" class="w-full py-2.5 px-5 me-2 mb-2 text-base font-bold text-blue-700 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">
                Entrar
            </button>
        </div>
        
    </div>
</div>
<footer>

</footer>