/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #EFF3F4;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4;
}

@media (prefers-color-scheme: dark){
    /* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0F1419;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2F3336;
}
}

@font-face {
    font-family: 'chirp';
    src: url('assets/fonts/chirp-regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'chirp';
    src: url('assets/fonts/chirp-bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'chirp';
    src: url('assets/fonts/chirp-heavy.woff') format('woff');
    font-weight: bolder;
}